

<!-- templates/vessels/vessel_detail.html -->

{% extends "_base.html" %}

{% block content %}
<div class="article-entry">
  <h2>{{ object.vessel_type, object.vessel_name }}</h2>
  <p>{{ object.flag_country, object.cor_number  }} | {{ object.gross_tonnage }} GT</p>
  <p>{{ object.body }}</p>
</div>

<p><a href="{% url 'vessel_edit' articl.pk %}">Edit</a> | <a href="{% url 'vessel_delete' article.pk %}">Delete</a></p>
<p><a href="{% url 'vessel_list' %}">List of Vessels</a></p>
{% endblock content %}